@import '../../base.less';

.container() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperatureText {
    font-family: Teko;
    font-weight: 400;
    color: @text-color;
    line-height: 0.85;
}

.todayContainer {
    .container();
    padding-top: 8px;

    .weatherContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 22px 0 0;
    }

    .weatherIcon {
        margin-right: 6px;
    }

    .temperature {
        .temperatureText();
        font-size: 90px;
    }
}

.weekDayContainer {
    .container();

    .weekDayLabel {
        font-size: 23px;
        margin: 5px 0 7px;
    }

    .temperature {
        .temperatureText();
        font-size: 37px;
        margin-top: 17px;
    }
}
