@import '../../base.less';

@gap: 5px;
@outer-radius: 14px;
@inner-radius: @outer-radius - @gap;

@board-bg-color: #FFFFFF;

.board {
    position: relative;
    padding: @gap;
    border-radius: @outer-radius;
    background-color: @board-bg-color;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}


.centerContent() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todaySection {
    .centerContent();
    .backgroundFill();

    height: 300px;
    margin-bottom: @gap;

    border-top-left-radius: @inner-radius;
    border-top-right-radius: @inner-radius;
}

.weekDaysSection {
    border-bottom-left-radius: @inner-radius;
    border-bottom-right-radius: @inner-radius;

    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: @gap;

    height: 212px;
    overflow: hidden;

    .weekDay {
        flex-grow: 1;
        .centerContent();
        .backgroundFill();
    }
}

@light-size: 400px;

@keyframes load-anim {
    0% {
        background-position: 0 -@light-size;
    }

    100% {
        background-position: 0 calc(@light-size + 100%);
    }
}

.loadingAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0, transparent, @board-bg-color, transparent);
    background-size: 100% @light-size;
    background-repeat: no-repeat;
    animation: load-anim 600ms ease-in-out infinite;
}
