@import 'base.less';

@content-fit-width: 810px;

.background {
    background-color: @bg-color;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.contentContainer {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    @media (min-width: @content-fit-width) {
        margin-left: calc(50% - @content-fit-width / 2);
        max-width: @content-fit-width;
    }
}

p, span, button {
    font-size: 30px;
    color: @text-color;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    line-height: 1;
}
